In [28]:
import pandas as pd

#Set Up Dataframe of Census Data desired, but with all cities
#dfc = Dataframe of all Census Cities
dfc = pd.read_csv("/Users/Becket/GitHub/HomeFieldAdvantage/datasets/census-data/ACS_16_5YR_S1903.csv", encoding='latin-1', index_col=[1], header = 1)
dfc = dfc[['Geography', 
         'Total; Estimate; Households','Total; Margin of Error; Households', 'Median income (dollars); Estimate; Households', 'Median income (dollars); Margin of Error; Households',
         'Total; Estimate; FAMILIES - Families', 'Total; Margin of Error; FAMILIES - Families', 'Median income (dollars); Estimate; FAMILIES - Families', 'Median income (dollars); Margin of Error; FAMILIES - Families',
         'Total; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households', 'Total; Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households', 'Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households', 'Median income (dollars); Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households']]

#Pare it down to desired Cities
#dfc2 = Dataframe of NBA cities
arr = {"Boston", "New York", "Philadelphia", "Chicago", "Cleveland-", "Detroit", "Indianapolis", "Milwaukee", "Atlanta", "Charlotte-", "Miami", "Orlando", "Washington", "Denver", "Minneapolis", "Oklahoma", "Portland-V", "Salt Lake", "Oakland", "Los Angeles", "Phoenix", "Sacramento", "Dallas", "Houston", "Memphis", "New Orleans", "San Antonio"}

dfc2 = pd.DataFrame()
for city in arr:
    dfct = dfc[dfc['Geography'].str.contains(city)]
    dfc2 = dfc2.append(dfct, ignore_index=False)
    
dfc2

,Geography,Total; Estimate; Households,Total; Margin of Error; Households,Median income (dollars); Estimate; Households,Median income (dollars); Margin of Error; Households,Total; Estimate; FAMILIES - Families,Total; Margin of Error; FAMILIES - Families,Median income (dollars); Estimate; FAMILIES - Families,Median income (dollars); Margin of Error; FAMILIES - Families,Total; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households,Total; Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households,Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households,Median income (dollars); Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households
Id2,,,,,,,,,,,,,
31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",4298857,6559,62216,202,2929987,9247,70221,344,1368870,6290,42482,314
19740,"Denver-Aurora-Lakewood, CO Metro Area",1058467,2516,68173,514,669466,2807,83601,569,389001,2745,44479,576
33100,"Miami-Fort Lauderdale-West Palm Beach, FL Metr...",2065161,6875,50064,291,1347881,5977,58757,530,717280,4521,32336,297
37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",2235205,5379,63952,381,1447378,5790,82710,535,787827,4230,36577,319
14460,"Boston-Cambridge-Newton, MA-NH Metro Area",1784448,3714,77809,497,1135915,5103,98431,687,648533,4489,45866,481
19100,"Dallas-Fort Worth-Arlington, TX Metro Area",2451163,4479,61330,268,1701976,5764,72527,393,749187,4898,40058,378
38900,"Portland-Vancouver-Hillsboro, OR-WA Metro Area",896514,2297,62772,520,572638,3034,76348,596,323876,2767,40033,578
36740,"Orlando-Kissimmee-Sanford, FL Metro Area",816428,4144,50183,524,543041,4688,59191,693,273387,4139,32596,620
41700,"San Antonio-New Braunfels, TX Metro Area",786156,2540,54638,462,543128,2807,64216,517,243028,2588,34422,633
12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",1994730,5460,59183,301,1348335,6317,70174,435,646395,4656,39447,499
35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",7138559,12262,69211,323,4716637,13194,83298,457,2421922,8116,42546,315
33340,"Milwaukee-Waukesha-West Allis, WI Metro Area",626504,1696,55625,418,388877,2241,73657,701,237627,2288,33819,569
16740,"Charlotte-Concord-Gastonia, NC-SC Metro Area",885916,2618,55191,484,597510,3456,67278,587,288406,3178,35076,565
41860,"San Francisco-Oakland-Hayward, CA Metro Area",1674040,3382,85947,520,1062094,4954,102770,589,611946,3797,56814,734
35380,"New Orleans-Metairie, LA Metro Area",479206,1878,48319,570,296262,2641,62486,848,182944,2303,29934,546
26900,"Indianapolis-Carmel-Anderson, IN Metro Area",749799,2669,54261,456,484219,3297,69385,640,265580,2915,32775,573
41620,"Salt Lake City, UT Metro Area",375127,1406,64564,634,266681,1770,74749,829,108446,1536,39686,832
26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",2223829,4727,60902,303,1566793,6557,71143,448,657036,4834,39750,648
17460,"Cleveland-Elyria, OH Metro Area",848772,2719,51001,287,520843,2852,67468,507,327929,2812,30376,344
16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",3464942,6115,63327,250,2273755,7644,78092,404,1191187,5753,39247,370
32820,"Memphis, TN-MS-AR Metro Area",495558,2229,48545,609,327844,2416,59672,861,167714,2194,30261,582
40900,"Sacramento--Roseville--Arden-Arcade, CA Metro ...",804137,1997,61686,417,535536,2668,74384,727,268601,2205,38912,628
47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",2155967,4751,93804,405,1422677,6329,109926,680,733290,4499,64756,507
19820,"Detroit-Warren-Dearborn, MI Metro Area",1672081,3919,54037,312,1080953,3899,69434,459,591128,3383,31955,251
38060,"Phoenix-Mesa-Scottsdale, AZ Metro Area",1596641,4944,55227,324,1052618,6036,65473,403,544023,4034,36497,321
33460,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",1343140,2938,70915,330,869544,3503,88779,553,473596,2783,41623,381
36420,"Oklahoma City, OK Metro Area",500437,2072,52825,527,326453,2223,65899,670,173984,1908,32017,502

In [31]:
dfn = pd.read_csv("/Users/Becket/GitHub/HomeFieldAdvantage/datasets/NBA.csv", encoding='latin-1', index_col=[1,0], skipinitialspace=True)
#print(dfn.index)
dfn

                          Wins  Loss  Home Wins  Home Loss  Away Wins  \
Team                Year
AtlantaÂ Hawks       1968    48    34         28         12         18
                    1969    48    34         25         13         18
                    1970    36    46         21         20         14
                    1971    36    46         22         19         13
                    1972    46    36         28         13         17
                    1973    35    47         23         18         12
                    1974    31    51         22         19          9
                    1975    29    53         20         21          9
                    1976    31    51         19         22         12
                    1977    41    41         29         12         12
                    1978    46    36         34          7         12
                    1979    50    32         32          9         18
                    1980    31    51         20         21         11
                    1981    42    40         24         17         18
                    1982    43    39         26         15         17
                    1983    40    42         31         10          9
                    1984    34    48         19         22         15
                    1985    50    32         34          7         16
                    1986    57    25         35          6         22
                    1987    50    32         30         11         20
                    1988    52    30         33          8         19
                    1989    41    41         25         16         16
                    1990    43    39         29         12         14
                    1991    38    44         23         18         15
                    1992    43    39         25         16         18
                    1993    57    25         36          5         21
                    1994    42    40         24         17         18
                    1995    46    36         26         15         20
                    1996    56    26         36          5         20
                    1997    50    32         29         12         21
...                        ...   ...        ...        ...        ...
WashingtonÂ Bullets  1982    42    40         27         14         15
                    1983    35    47         25         16         10
                    1984    40    42         28         13         12
                    1985    39    43         26         15         13
                    1986    42    40         27         14         15
                    1987    38    44         25         16         13
                    1988    40    42         30         11         10
                    1989    31    51         20         21         11
                    1990    30    52         21         20          9
                    1991    25    57         14         27         11
                    1992    22    60         15         26          7
                    1993    24    58         17         24          7
                    1994    21    61         13         28          8
                    1995    39    43         25         16         14
                    1996    44    38         25         16         19
WashingtonÂ Capitols 1950    10    25          6         11          4
WashingtonÂ Wizards  1997    42    40         24         17         18
                    1998    18    32         13         12          5
                    1999    29    53         17         24         12
                    2000    19    63         12         29          7
                    2001    37    45         22         19         15
                    2002    37    45         23         18         14
                    2003    25    57         17         24          8
                    2004    45    37         29         12         16
                    2005    42    40         27         14         15
                    2006    41    41         26         15         15
                    2007    43    39         25         16         18
                    2008    19    63         13         28          6
                    2009    26    56         15         26         11
                    2010    23    59         20         21          3

                          Away Loss   HomePCT   AwayPCT  TotalPCT
Team                Year
AtlantaÂ Hawks       1968         21  0.700000  0.461538  0.585366
                    1969         16  0.657895  0.529412  0.585366
                    1970         26  0.512195  0.350000  0.439024
                    1971         26  0.536585  0.333333  0.439024
                    1972         23  0.682927  0.425000  0.560976
                    1973         25  0.560976  0.324324  0.426829
                    1974         32  0.536585  0.219512  0.378049
                    1975         32  0.487805  0.219512  0.353659
                    1976         29  0.463415  0.292683  0.378049
                    1977         29  0.707317  0.292683  0.500000
                    1978         29  0.829268  0.292683  0.560976
                    1979         23  0.780488  0.439024  0.609756
                    1980         30  0.487805  0.268293  0.378049
                    1981         23  0.585366  0.439024  0.512195
                    1982         24  0.634146  0.414634  0.524390
                    1983         32  0.756098  0.219512  0.487805
                    1984         26  0.463415  0.365854  0.414634
                    1985         25  0.829268  0.390244  0.609756
                    1986         19  0.853659  0.536585  0.695122
                    1987         21  0.731707  0.487805  0.609756
                    1988         22  0.804878  0.463415  0.634146
                    1989         25  0.609756  0.390244  0.500000
                    1990         27  0.707317  0.341463  0.524390
                    1991         26  0.560976  0.365854  0.463415
                    1992         23  0.609756  0.439024  0.524390
                    1993         20  0.878049  0.512195  0.695122
                    1994         23  0.585366  0.439024  0.512195
                    1995         21  0.634146  0.487805  0.560976
                    1996         21  0.878049  0.487805  0.682927
                    1997         20  0.707317  0.512195  0.609756
...                             ...       ...       ...       ...
WashingtonÂ Bullets  1982         26  0.658537  0.365854  0.512195
                    1983         31  0.609756  0.243902  0.426829
                    1984         29  0.682927  0.292683  0.487805
                    1985         28  0.634146  0.317073  0.475610
                    1986         26  0.658537  0.365854  0.512195
                    1987         28  0.609756  0.317073  0.463415
                    1988         31  0.731707  0.243902  0.487805
                    1989         30  0.487805  0.268293  0.378049
                    1990         32  0.512195  0.219512  0.365854
                    1991         30  0.341463  0.268293  0.304878
                    1992         34  0.365854  0.170732  0.268293
                    1993         34  0.414634  0.170732  0.292683
                    1994         33  0.317073  0.195122  0.256098
                    1995         27  0.609756  0.341463  0.475610
                    1996         22  0.609756  0.463415  0.536585
WashingtonÂ Capitols 1950         13  0.352941  0.235294  0.285714
WashingtonÂ Wizards  1997         23  0.585366  0.439024  0.512195
                    1998         20  0.520000  0.200000  0.360000
                    1999         29  0.414634  0.292683  0.353659
                    2000         34  0.292683  0.170732  0.231707
                    2001         26  0.536585  0.365854  0.451220
                    2002         27  0.560976  0.341463  0.451220
                    2003         33  0.414634  0.195122  0.304878
                    2004         25  0.707317  0.390244  0.548780
                    2005         26  0.658537  0.365854  0.512195
                    2006         26  0.634146  0.365854  0.500000
                    2007         23  0.609756  0.439024  0.524390
                    2008         35  0.317073  0.146341  0.231707
                    2009         30  0.365854  0.268293  0.317073
                    2010         38  0.487805  0.073171  0.280488

[1216 rows x 9 columns]

In [21]:
yearArr = [1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 
           1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 
           1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 
           1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 
           1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 
           2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

teamArr = ['Atlanta Hawks', 'Baltimore Bullets', 'Boston Celtics', 'Buffalo Braves', 'Capitol Bullets', 
         'Charlotte Bobcats', 'Charlotte Hornets', 'Chicago Bulls', 'Chicago Packers', 'Chicago Zephyrs', 
         'Cincinnati Royals', 'Cleveland Cavaliers', 'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 
         'GoldenState Warriors', 'Houston Rockets', 'Indianapolis Olympians', 'Indiana Pacers', 'KansasCity-Omaha Kings', 
         'KansasCity Kings', 'LosAngeles Clippers', 'LosAngeles Lakers', 'Memphis Grizzlies', 'Miami Heat', 
         'Milwaukee Bucks', 'Milwaukee Hawks', 'Minneapolis Lakers', 'Minnesota Timberwolves', 'NewJersey Nets', 
         'NewOrleans Hornets', 'NewOrleans Jazz', 'NewYork Knicks', 'NewYork Nets', 'OklahomaCity Thunder', 'Orlando Magic', 
         'Philadelphia 76ers', 'Philadelphia Warriors', 'Phoenix Suns', 'Portland Trailblazers', 'Rochester Royals', 
         'Sacramento Kings', 'SanAntonio Spurs', 'SanDiego Clippers', 'SanDiego Rockets', 'SanFrancisco Warriors', 
         'Seattle Supersonics', 'St.Louis Hawks', 'Syracuse Nationals', 'Toronto Raptors', 'Tri-Cities Blackhawks', 
         'Utah Jazz', 'Vancouver Grizzlies', 'Washington Bullets', 'Washington Capitols', 'Washington Wizards']

In [37]:
for year in yearArr:
    dfn.drop(str(year), level='Year', axis=0,inplace=True) 
dfn

AttributeError: 'NoneType' object has no attribute 'drop'

In [18]:
dfn.index

MultiIndex(levels=[['AtlantaÂ Hawks', 'BaltimoreÂ Bullets', 'BostonÂ Celtics', 'BuffaloÂ Braves', 'CapitolÂ Bullets', 'CharlotteÂ Bobcats', 'CharlotteÂ Hornets', 'ChicagoÂ Bulls', 'ChicagoÂ Packers', 'ChicagoÂ Zephyrs', 'CincinnatiÂ Royals', 'ClevelandÂ Cavaliers', 'DallasÂ Mavericks', 'DenverÂ Nuggets', 'DetroitÂ Pistons', 'GoldenStateÂ Warriors', 'HoustonÂ Rockets', 'IndianapolisÂ Olympians', 'IndianaÂ Pacers', 'KansasCity-OmahaÂ Kings', 'KansasCityÂ Kings', 'LosAngelesÂ Clippers', 'LosAngelesÂ Lakers', 'MemphisÂ Grizzlies', 'MiamiÂ Heat', 'MilwaukeeÂ Bucks', 'MilwaukeeÂ Hawks', 'MinneapolisÂ Lakers', 'MinnesotaÂ Timberwolves', 'NewJerseyÂ Nets', 'NewOrleansÂ Hornets', 'NewOrleansÂ Jazz', 'NewYorkÂ Knicks', 'NewYorkÂ Nets', 'OklahomaCityÂ Thunder', 'OrlandoÂ Magic', 'PhiladelphiaÂ 76ers', 'PhiladelphiaÂ Warriors', 'PhoenixÂ Suns', 'PortlandÂ Trailblazers', 'RochesterÂ Royals', 'SacramentoÂ Kings', 'SanAntonioÂ Spurs', 'SanDiegoÂ Clippers', 'SanDiegoÂ Rockets', 'SanFranciscoÂ Warriors', 'SeattleÂ Supersonics', 'St.LouisÂ Hawks', 'SyracuseÂ Nationals', 'TorontoÂ Raptors', 'Tri-CitiesÂ Blackhawks', 'UtahÂ Jazz', 'VancouverÂ Grizzlies', 'WashingtonÂ Bullets', 'WashingtonÂ Capitols', 'WashingtonÂ Wizards'], [1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 17, 17, 17, 20, 20, 20, 20, 20, 20, 20, 20, 20, 19, 19, 19, 19, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 54, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55], [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 0, 1, 2, 3, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 20, 21, 22, 23, 24, 25, 26, 27, 23, 54, 55, 56, 57, 58, 59, 60, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 11, 12, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 0, 1, 2, 26, 27, 28, 29, 30, 31, 32, 33, 34, 22, 23, 24, 25, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 52, 53, 54, 57, 58, 59, 60, 24, 25, 26, 27, 28, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 26, 58, 59, 60, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 0, 1, 2, 3, 4, 5, 6, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 28, 29, 30, 31, 32, 33, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 0, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 45, 46, 47, 48, 49, 50, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 0, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]],
           names=['Team', 'Year'])