In [75]:
import pandas as pd
import numpy as np

#Set Up Dataframe of Census Data desired, but with all cities
#df = Dataframe of all Census Cities
df = pd.read_csv("/Users/Becket/GitHub/HomeFieldAdvantage/datasets/census-data/ACS_16_5YR_S1903.csv", encoding='latin-1', index_col=[1], header = 1)
df = df[['Geography', 
         'Total; Estimate; Households','Total; Margin of Error; Households', 'Median income (dollars); Estimate; Households', 'Median income (dollars); Margin of Error; Households',
         'Total; Estimate; FAMILIES - Families', 'Total; Margin of Error; FAMILIES - Families', 'Median income (dollars); Estimate; FAMILIES - Families', 'Median income (dollars); Margin of Error; FAMILIES - Families',
         'Total; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households', 'Total; Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households', 'Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households', 'Median income (dollars); Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households']]

#Pare it down to desired Cities
#df2 = Dataframe of NBA cities
arr = {"Boston", "New York", "Philadelphia", "Chicago", "Cleveland-", "Detroit", "Indianapolis", "Milwaukee", "Atlanta", "Charlotte-", "Miami", "Orlando", "Washington", "Denver", "Minneapolis", "Oklahoma", "Portland-V", "Salt Lake", "Oakland", "Los Angeles", "Phoenix", "Sacramento", "Dallas", "Houston", "Memphis", "New Orleans", "San Antonio"}

df2 = pd.DataFrame()
for city in arr:
    dft = df[df['Geography'].str.contains(city)]
    df2 = df2.append(dft, ignore_index=False)
    
df2

,Geography,Total; Estimate; Households,Total; Margin of Error; Households,Median income (dollars); Estimate; Households,Median income (dollars); Margin of Error; Households,Total; Estimate; FAMILIES - Families,Total; Margin of Error; FAMILIES - Families,Median income (dollars); Estimate; FAMILIES - Families,Median income (dollars); Margin of Error; FAMILIES - Families,Total; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households,Total; Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households,Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households,Median income (dollars); Margin of Error; NONFAMILY HOUSEHOLDS - Nonfamily households
Id2,,,,,,,,,,,,,
19740,"Denver-Aurora-Lakewood, CO Metro Area",1058467,2516,68173,514,669466,2807,83601,569,389001,2745,44479,576
37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD Me...",2235205,5379,63952,381,1447378,5790,82710,535,787827,4230,36577,319
31080,"Los Angeles-Long Beach-Anaheim, CA Metro Area",4298857,6559,62216,202,2929987,9247,70221,344,1368870,6290,42482,314
41860,"San Francisco-Oakland-Hayward, CA Metro Area",1674040,3382,85947,520,1062094,4954,102770,589,611946,3797,56814,734
33340,"Milwaukee-Waukesha-West Allis, WI Metro Area",626504,1696,55625,418,388877,2241,73657,701,237627,2288,33819,569
12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",1994730,5460,59183,301,1348335,6317,70174,435,646395,4656,39447,499
38060,"Phoenix-Mesa-Scottsdale, AZ Metro Area",1596641,4944,55227,324,1052618,6036,65473,403,544023,4034,36497,321
19100,"Dallas-Fort Worth-Arlington, TX Metro Area",2451163,4479,61330,268,1701976,5764,72527,393,749187,4898,40058,378
19820,"Detroit-Warren-Dearborn, MI Metro Area",1672081,3919,54037,312,1080953,3899,69434,459,591128,3383,31955,251
47900,"Washington-Arlington-Alexandria, DC-VA-MD-WV M...",2155967,4751,93804,405,1422677,6329,109926,680,733290,4499,64756,507
14460,"Boston-Cambridge-Newton, MA-NH Metro Area",1784448,3714,77809,497,1135915,5103,98431,687,648533,4489,45866,481
36740,"Orlando-Kissimmee-Sanford, FL Metro Area",816428,4144,50183,524,543041,4688,59191,693,273387,4139,32596,620
26420,"Houston-The Woodlands-Sugar Land, TX Metro Area",2223829,4727,60902,303,1566793,6557,71143,448,657036,4834,39750,648
41700,"San Antonio-New Braunfels, TX Metro Area",786156,2540,54638,462,543128,2807,64216,517,243028,2588,34422,633
41620,"Salt Lake City, UT Metro Area",375127,1406,64564,634,266681,1770,74749,829,108446,1536,39686,832
35620,"New York-Newark-Jersey City, NY-NJ-PA Metro Area",7138559,12262,69211,323,4716637,13194,83298,457,2421922,8116,42546,315
36420,"Oklahoma City, OK Metro Area",500437,2072,52825,527,326453,2223,65899,670,173984,1908,32017,502
17460,"Cleveland-Elyria, OH Metro Area",848772,2719,51001,287,520843,2852,67468,507,327929,2812,30376,344
35380,"New Orleans-Metairie, LA Metro Area",479206,1878,48319,570,296262,2641,62486,848,182944,2303,29934,546
26900,"Indianapolis-Carmel-Anderson, IN Metro Area",749799,2669,54261,456,484219,3297,69385,640,265580,2915,32775,573
32820,"Memphis, TN-MS-AR Metro Area",495558,2229,48545,609,327844,2416,59672,861,167714,2194,30261,582
33460,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",1343140,2938,70915,330,869544,3503,88779,553,473596,2783,41623,381
40900,"Sacramento--Roseville--Arden-Arcade, CA Metro ...",804137,1997,61686,417,535536,2668,74384,727,268601,2205,38912,628
16980,"Chicago-Naperville-Elgin, IL-IN-WI Metro Area",3464942,6115,63327,250,2273755,7644,78092,404,1191187,5753,39247,370
33100,"Miami-Fort Lauderdale-West Palm Beach, FL Metr...",2065161,6875,50064,291,1347881,5977,58757,530,717280,4521,32336,297
16740,"Charlotte-Concord-Gastonia, NC-SC Metro Area",885916,2618,55191,484,597510,3456,67278,587,288406,3178,35076,565
38900,"Portland-Vancouver-Hillsboro, OR-WA Metro Area",896514,2297,62772,520,572638,3034,76348,596,323876,2767,40033,578